.root {
  width: 100%;
  height: 500px;
  background: #e2dfdf;
  border-radius: 12px;
  position: relative;
}

.bitLabel {
  background: #ff4500;
  color: white;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
}
